html{
  background: url(/img/ornament4.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 200px;
}
body {
  padding: 0;
  margin: 0;
  font-family:  "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
  font-weight: 300;
  background-color: RGB(252, 252, 252);
  font-size:20px;
  color:#333333;
  background: url(/img/ornament3.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 200px;
}
h1{
  font-family: 'Open Sans',sans-serif;
  font-weight: 700;
  font-size: 2.5em;
}
h2{
  font-family: 'Open Sans',sans-serif;
  font-weight: 500;
  margin-bottom: 0px;
  font-size: 2em;
}
h3{
  font-family: 'Open Sans',sans-serif;
  font-weight: 100;
  font-size: 1.5em;
}
a {
  color:#001370;
  text-shadow: 2px 3px white;
  text-decoration: none;
}
p {
  line-height: 1.6;
}
code{
  background-color: #f3f3f3;
}
.post-meta{
  font-family: 'Open Sans',sans-serif;
  color:#001370;
  font-size: 0.9em;
}
#main{
  padding:30px 15px 15px 15px;
}
.wrapper{
  width: 80%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.snow{
  width:20px;
}
footer > p{
  font-size: 16px;
  text-align: center;
}

header{
  font-size: 0.8em;
  text-align: right;
}

#header{
  text-align: center;
  padding: 40px 20px 0px 20px;
  height:160px;
}
#header > h1{
  color:#001370;
  text-shadow: 2px 2px #FFEB34;
  margin: 0px;
  font-size:3em;
}
#header > p{
  font-family: 'Open Sans',sans-serif;
  color:#001370;
  text-shadow: 1px 1px white;
  font-weight: 400;
}

.divider{
  text-align: center;
}

article h1 {
  color:#001370;
  text-shadow: 2px 2px #FFEB34;
}
article .date {
  font-family: 'Open Sans',sans-serif;
  color:#001370;
}
article .post-body{
  margin-top: 50px;
}
article a{
  color:#001370;
  text-shadow: 1px 1px white;
}


@media(max-width: 900px){
  .wrapper {
    width: 100%;
  }
}
@media(max-width: 515px){
  #header > h1{
    font-size: 1.8em;
  }
}
@media(max-width: 310px){
  #header > h1{
    font-size: 1.5em;
  }
  #header > p{
    font-size: 0.7em;
  }
}
